#title {
	background-color: black;
	color: yellow;
	height: 15%;
	width: 100%;
	margin-bottom: 0px;
	
}

#logo {
	width: 7%;
	background-color:black;
	margin-left: 30px;
	margin-top: 15px;
}

#name {
	margin: auto;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	padding-top: 25px;
	font-size: 6vw;	
}

#log {
	background-color: yellow;
	border-color: yellow;
	color: black;
}

#ser {
	background-color: yellow;
	border-color: yellow;
	color: black;
}

#login {
	float: right;
	margin-top: 4%;
	margin-right: 2%;
}

#quote {
	text-align: right;
	float: right;
	font-family: 'Shrikhand', cursive;
	color: black;
	padding-top: 10%;
	margin-right: 10%;
	font-size: 1.75vw;
	width: 25%;
}
#banner {
	 height: 320px; 
	 background-image: url(bg21.jpg); 
	 background-size: 100%; 
	 overflow: hidden; 
	 background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding-left: 100px;
  padding-right: 120px;
  padding-top: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 800px) {
  .column {
    width: 60%;
	margin: auto;
  }
}

a {
	color: yellow;
	text-decoration: none;
}

a:hover {
	color: yellow;
	text-decoration: none;
}

a:visited {
	color: yellow;
	text-decoration: none;
}