#title {
	background-color: black;
	color: yellow;
	height: 20%;
	width: 100%;
	margin-bottom: 50px;
	
}

#name {
	margin: auto;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	padding-top: 25px;
	font-size: 4vw;
	
}


#login {
	width: 80%;
	margin: auto;
	margin-top: 10px;
}

#quote {
	text-align: center;
	margin: auto;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	padding-top: 25px;
	font-size: 1.5vw;
}