#title {
	background-color: black;
	color: yellow;
	height: 20%;
	width: 100%;
	margin-bottom: 50px;
	
}

#name {
	margin: auto;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	padding-top: 25px;
	font-size: 4vw;
	
}


#login {
	float: right;
	margin-top: 7%;
	margin-right: 2%;
}

#search {
	width: 75%;
	margin: auto;
}
#res1 {
	padding: 25px; 
	text-align: center; 
}
